@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

.btn {
  background-color: #FFBE98;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 6px 10px;
  cursor: pointer;
  font-size: .7rem;
}

.btn:hover {
  background-color: #FF9874;
  color: black;
}

.saiba-mais-button {
  background-color: #FFBE98;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 6px 10px;
  cursor: pointer;
  font-size: .7rem;
  
}

.saiba-mais-button:hover {
  background-color: #FF9874;
  color: black;
}